[flake8]
max-line-length = 88
inline-quotes = "
ignore = E203, E266, W503, N807, N818, F401
exclude =
    .git,
    __pycache__,
    build,
    dist,
    .venv,
    env,
    venv,
    */migrations/*,
    */tests/*,
    manage.py
